@import url("https://fonts.googleapis.com/css?family=Muli:400i");
body {
  font-family: "Muli", sans-serif;
  box-sizing: border-box;
}
h1 {
  color: white;
}

#container {
  height: 97.5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #537cf4;
  border-radius: 10px;
  box-shadow: 12px 18px 45px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}
#calculator {
  width: 260px;
  height: 445px;
  background-color: #eaedef;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#result {
  height: 70px;
}
#history {
  text-align: right;
  height: 15px;
  margin: 0 20px;
  padding-top: 5px;
  font-size: 18px;
  color: black;
}
#output {
  text-align: right;
  height: 50px;
  margin: 10px 20px;
  font-size: 35px;
}
#keyboard {
  text-align: center;
  height: 40px;
}
.operator,
.number,
.empty {
  width: 40px;
  height: 40px;
  margin: 12px;
  float: left;
  border-radius: 50%;
  border-width: 0;
  font-weight: bold;
  font-size: 20px;
}
.number,
.empty {
  background-color: #eaedef;
}
.number,
.operator {
  cursor: pointer;
}

.operator:active,
.number:active {
  font-size: 18px;
}
.operator:focus,
.number:focus,
.empty:focus {
  outline: 0;
}
button:nth-child(4) {
  font-size: 20px;
  background-color: #20b2aa;
}
button:nth-child(8) {
  font-size: 20px;
  background-color: #ffa500;
}
button:nth-child(12) {
  font-size: 20px;
  background-color: #f08080;
}
button:nth-child(16) {
  font-size: 20px;
  background-color: #7d93e0;
}
button:nth-child(20) {
  font-size: 20px;
  background-color: #9477af;
}

footer {
  margin: 20px;
  font-size: 20px;
  color: white;
}
footer a {
  text-decoration: none;
  color: white;
}
